<div class="w-100 bg-2l">
  <div class="pl-40 pr-40 flex jc-between ai-center h-50px">
    <div class="gap-10 flex ai-center">
      <span class="mso-icon fs-20">list</span>
      <h4>Projects</h4>
    </div>
    <div class="gap-20 flex ai-center">
      <%= link_to root_path, class: "h-30px w-30px flex-middle" do %>
        <span class="mso-icon fs-20">home</span>
      <% end %>
      <span class="mso-icon fs-20">settings</span>
      <span class="mso-icon fs-20">logout</span>
      <span class="round bg-3n fc-white h-30px w-30px flex-middle">BC</span>
    </div>
  </div>
</div>
