<div class="flex ai-center gap-10 mb-20 pos-rel">
  <%= link_to "", new_project_path, class: "w-100 h-100 pos-abs", data: {turbo_frame: "modal"} %>
  <span class="flex-middle round bg-1n fc-white h-30px w-30px fs-20 block">+</span>
  <h3 class="fc-1n">Create new project</h3>
</div>

<div class="flex w-100 gap-20" data-controller="menus">
  <div class="w-400px card-menu">
    <h4 class="mb-20">On-going projects</h4>
    <%= render partial: "projects/list", locals: { active: nil } %>
  </div>
  <div class="w-100">
    <%= turbo_frame_tag "show" %>
  </div>
</div>
